.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(105, 105, 105);
}

.listNavigation {
    display: flex;
    padding: 5px 10px;
}

.navigationButton {
    margin-right: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    border-radius: 10px;

    &:last-child {
        margin-right: 0;
    }
}
